.product {
width: 20%;
background-color:#80322e;
padding: 10px;
display: flex;
flex-direction: column;
row-gap: 20px;
border-radius: 5px;
}

.pro-img {
width: 100%;
height: 300px;
overflow: hidden;
border-radius: 5px;
}

.img {
width: 100%;
height:100%;
border-radius: 5px;
}

.details {
padding: 20px;
background-color:bisque;
border-radius: 5px;
}
