.button {
  height:150px;
  width: 450px;
  background-color: gainsboro;
  padding: 7px;
  color: black;
  border-radius: 50px;
  font-size: 100px;
  border: 2px solid black;
  
}

.buttonON {
  height:150px;
  width: 450px;
  background-color: greenyellow;
  padding: 7px;
  color: black;
  border-radius: 50px;
  font-size: 100px;
  border: 2px solid black;
}

.buttonOFF {
  height:150px;
  width: 450px;
  background-color: crimson;
  padding: 7px;
  color: white;
  border-radius: 50px;
  font-size: 100px;
  border: 2px solid black;
}

